@model BugTracker.Models.TicketPriority

@using (Html.BeginForm())
{
    if (User.Identity.IsAuthenticated)
    {
        {
            ViewBag.Title = "BugTracking";
        }
        <h2>BugTracking</h2>

        <body>
            <table>
                <tr>
                    <td style="text-decoration: underline">Priority</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Priority)</td>

                    <td>@Html.DropDownListFor(model => model.Priority, new SelectList(Model.TicketImportance, "Id", "Priority", "Select"))   </td>

                </tr>
            </table>
        </body>
    }
    else
    {
        <h1> BIG PROBLEM</h1>
    }

    <td></td>
    <td><input type="submit" name="name" value="Submit" /></td>
}